@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg1: #fbfbf8;
		--bg2: #f1f1ec;
		--fg1: #1e2d33;
		--fg2: #595955;
		--mg1: #e5e5df;
		--mg2: #d6d6c9;
	}
	.dark {
		--bg1: #000000;
		--bg2: #161616;
		--fg1: #fefefe;
		--fg2: #bababa;
		--mg1: #292828;
		--mg2: #3f3f3f;
	}
}
